# Considerations
# ====================================
#
# We need to address individual hosts by name for SSH access
# There must be a DNS name for the cluster
#
# Init VPS with contabo-rocky9.md

all:
  vars:
    K3S_SERVER_DOMAIN: nessustech.io
    K3S_SERVER_NAME: vps4c.eu.ebsi
    K3S_SERVER_IP: 62.84.179.157

    REGISTRY_USER: registry
    REGISTRY_PASSWORD: changeme

  children:
    k3s-server:
      hosts:
        server:
          ansible_host: "{{ K3S_SERVER_IP }}"
          ansible_port: <ssh-port>
          ansible_user: core
          kube_context: ebsi
