#
# ansible-playbook -i ansible/inventory.yml ansible/step05-verify-registry.yml
#
---
- name: Verify Docker Registry
  hosts: k3s-server
  become: yes
  vars:
    registry_spec: "registry.{{ K3S_SERVER_NAME }}:{{ REGISTRY_PORT }}"
    helm_dir: "{{ playbook_dir }}/../helm"

  tasks:

    # Buildah registry access ------------------------------------------------------------------------------------------

    - name: Buildah login
      ansible.builtin.shell: |
        buildah login --username {{ REGISTRY_USER }} --password {{ REGISTRY_PASSWORD }} {{ registry_spec }}
      register: buildah_login

    - name: Buildah login results
      ansible.builtin.debug:
        var: buildah_login

    - name: Buildah pull
      ansible.builtin.shell: |
        buildah pull docker.io/traefik/whoami
        buildah tag docker.io/traefik/whoami {{ registry_spec }}/traefik/whoami
      register: buildah_pull

    - name: Buildah pull results
      ansible.builtin.debug:
        var: buildah_pull

    - name: Buildah push
      ansible.builtin.shell: |
        buildah push {{ registry_spec }}/traefik/whoami
      register: buildah_push

    - name: Buildah push results
      ansible.builtin.debug:
        var: buildah_push

    # Whoami Deployment ------------------------------------------------------------------------------------------------

    - name: Apply the whoami deployment
      ansible.builtin.shell: |
        helm upgrade --install whoami {{ helm_dir }} -f {{ helm_dir }}/values-whoami-stage.yaml
      become: no
      delegate_to: localhost
      register: apply_result

    - name: Apply the whoami deployment results
      ansible.builtin.debug:
        var: apply_result

    - name: Wait for whoami pod ready
      ansible.builtin.shell: |
        sleep 10s
        kubectl wait --for=condition=Ready pod -l app.kubernetes.io/name=whoami --timeout=120s
      register: wait_result

    - name: Wait for registry pod ready results
      ansible.builtin.debug:
        var: wait_result

    - name: Test whoami access
      ansible.builtin.uri:
        url: "https://who.nessustech.io"
        return_content: yes
      register: whoami_response

    - name: Show whoami response
      ansible.builtin.debug:
        var: whoami_response.content
